<h1>Adam: I have a milk allergy</h1>
<h1>Ilke: I don`t have any secrets</h1>
<img
  style="width: 300px"
  src="https://25.media.tumblr.com/4893e3d239497d2048c28ac543f3aba6/tumblr_mh9hidx9FD1rlt1i7o1_500.gif"
  alt="funny-cat-2"
/>

<button><a href="/logout">Log out</a></button>
